:root {
  --color-primary: #1d5be0;
  --color-primary-dark: #1d5be0;
  --color-primary-medium: #8babf0;
  --color-primary-light: #79a0f5;
  --color-primary-xlight: #bad0ff;
  --color-primary-ylight: #ffece0;
  --color-black: #000;
  --color-white: #fff;
  --color-mandatory: #ff4d4f;
  --color-red: #ff7171;
  --color-green: #92ca6d;
  --color-disable: #b8b8b8;
  --light-gray: #ddd;
  --primary-light-gray: #cdcdcd;
  --color-bg: #fff9f6;
  --color-link: rgb(49, 61, 236);
  --light-yellow: #fffbe6;
  --yellow: #ffe58f;
  --color-font: #000000;
  --footer-height: 40px;
}
