:root {
  --color-primary: #7f5539;
  --color-primary-dark: #7f5539;
  --color-primary-medium: #d0ac94;
  --color-primary-light: #c0987e;
  --color-primary-xlight: #f6d4be;
  --color-primary-ylight: #c7c7c7;
  --color-black: #000;
  --color-white: #fff;
  --color-mandatory: #ff4d4f;
  --color-red: #ff7171;
  --color-green: #92ca6d;
  --color-disable: #b8b8b8;
  --light-gray: #ddd;
  --primary-light-gray: #cdcdcd;
  --color-bg: #fff9f6;
  --color-link: rgb(49, 61, 236);
  --light-yellow: #fffbe6;
  --yellow: #ffe58f;
  --color-font: #000000;
}
